form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-inline-size: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  inline-size: 100%;
  padding: 10px;
  margin-block-end: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #999;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  inline-size: 523px;
}

button:hover {
  background-color: #0056b3;
}
