.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-block-size: 50vh;
  background-color: #f0f8ff;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-inline-size: 600px;
  inline-size: 100%;
  text-align: center;
}

.profile-photo {
  inline-size: 130px;
  block-size: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-block-end: 20px;
}

h2 {
  margin-block-start: 0;
  color: #333;
}

h3 {
  text-decoration: underline;
}

p {
  color: #666;
  line-height: 1.5;
}

.amis-container {
  margin: 20px;
  inline-size: 25%;
}

.amis-list {
  list-style-type: none;
  padding: 0;
}

.ami-item {
  display: flex;
  align-items: center;
  margin-block-end: 10px;
}

.avatar {
  border-radius: 50%;
  inline-size: 50px;
  block-size: 50px;
  margin-inline-end: 10px;
}

.ajouter-ami input {
  block-size: 30px;
  margin: 5px;
  padding: 5px;
  inline-size: calc(50% - 12px);
}

button {
  inline-size: 85px;
  block-size: 40px;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
